In [ ]:
# Método de Gauss-Jacobi

In [ ]:
import pandas as pd

In [ ]:
colunas = ['iteração', 'x', 'y', 'z', 'xn', 'yn', 'zn', 'ex', 'ey', 'ez']
arquivos = pd.DataFrame(columns = colunas)
arquivos

Empty DataFrame
Columns: [iteração, x, y, z, xn, yn, zn, ex, ey, ez]
Index: []

In [ ]:
def er(novo, velho):
  err = (novo - velho)/velho
  if err < 0:
    return -err
  else:
    return err

In [ ]:
x = 0
y = 0
z = 0
i = 0
N = 4
errox = 100
erroy = 100
erroz = 100
erro_min = 1

while i < N:
  xn = (10 - 4*z)/2
  yn = (-6 - x + z)/3
  zn = 8 - 2*x - y
  if i > 1:
    errox = er(xn, x)
    erroy = er(yn, y)
    erroz = er(zn, z)
  dados = [i, x, y, z, xn, yn, zn, errox, erroy, erroz]
  arquivos.loc[i] = dados
  x = xn
  y = yn
  z = zn
  i = i + 1

ZeroDivisionError: ignored

In [ ]:
arquivos

,iteração,x,y,z,xn,yn,zn,ex,ey,ez
0,0.0,0.000000,0.000000,0.000000,8.666667,1.000000,-2.666667,100.000000,100.000000,100.000000
1,1.0,8.666667,1.000000,-2.666667,4.888889,-3.333333,-5.555556,100.000000,100.000000,100.000000
2,2.0,4.888889,-3.333333,-5.555556,-2.814815,-1.444444,-4.296296,1.575758,0.566667,0.226667
3,3.0,-2.814815,-1.444444,-4.296296,0.543210,2.407407,-1.728395,1.192982,2.666667,0.597701
4,4.0,0.543210,2.407407,-1.728395,7.390947,0.728395,-2.847737,12.606061,0.697436,0.647619
5,5.0,7.390947,0.728395,-2.847737,4.406036,-2.695473,-5.130316,0.403860,4.700565,0.801541
6,6.0,4.406036,-2.695473,-5.130316,-1.680841,-1.203018,-4.135345,1.381486,0.553690,0.193939
7,7.0,-1.680841,-1.203018,-4.135345,0.972413,1.840421,-2.106386,1.578527,2.529837,0.490638
8,8.0,0.972413,1.840421,-2.106386,6.382970,0.513794,-2.990804,5.564054,0.720828,0.419875
9,9.0,6.382970,0.513794,-2.990804,4.024522,-2.191485,-4.794323,0.369491,5.265302,0.603021

In [ ]:
# Mudando a convergência
# x + 3z = -8
# 2x - 4y = -4
# 3x - 2y - 5z = 26
x = 0
y = 0
z = 0
i = 0
N = 4
errox = 100
erroy = 100
erroz = 100
erro_min = 1

while i < N:
  xn = (8 - y - z)/2
  yn = (-6 - x + z)/3
  zn = (10 - 2*x)/4
  if i > 1:
    errox = er(xn, x)
    erroy = er(yn, y)
    erroz = er(zn, z)
  dados = [i, x, y, z, xn, yn, zn, errox, erroy, erroz]
  arquivos.loc[i] = dados
  x = xn
  y = yn
  z = zn
  i = i + 1

In [ ]:
arquivos

,iteração,x,y,z,xn,yn,zn,ex,ey,ez
0,0.0,0.000000,0.000000,0.000000,4.000000,-2.000000,2.500000,100.000000,100.000000,100.000000
1,1.0,4.000000,-2.000000,2.500000,3.750000,-2.500000,0.500000,100.000000,100.000000,100.000000
2,2.0,3.750000,-2.500000,0.500000,5.000000,-3.083333,0.625000,0.333333,0.233333,0.250000
3,3.0,5.000000,-3.083333,0.625000,5.229167,-3.458333,0.000000,0.045833,0.121622,1.000000
4,4.0,1.946667,-1.266667,-2.373333,-0.293333,0.026667,-3.525333,1.150685,1.021053,0.485393
5,5.0,-0.293333,0.026667,-3.525333,0.858667,1.146667,-5.386667,3.927273,42.000000,0.527988
6,6.0,0.858667,1.146667,-5.386667,2.720000,0.570667,-5.143467,2.167702,0.502326,0.045149
7,7.0,2.720000,0.570667,-5.143467,2.476800,-0.360000,-3.796267,0.089412,1.630841,0.261925
8,8.0,2.476800,-0.360000,-3.796267,1.129600,-0.238400,-3.569920,0.543928,0.337778,0.059623
9,9.0,1.129600,-0.238400,-3.569920,0.903253,0.435200,-4.426880,0.200378,2.825503,0.240050

In [ ]:
# Ainda assim não converge

In [ ]:
# 3x + 2y = 8
# x + 3y + z = 10
# x + 3y + 7z = 9

x = 0
y = 0
z = 0
i = 0
N = 10
errox = 100
erroy = 100
erroz = 100
erro_min = 1

while i < N:
  xn = (8 - y - z)/2
  yn = (-6 - xn + z)/3
  zn = (10 - 2*xn)/4
  if i > 1:
    errox = er(xn, x)
    erroy = er(yn, y)
    erroz = er(zn, z)
  dados = [i, x, y, z, xn, yn, zn, errox, erroy, erroz]
  arquivos.loc[i] = dados
  x = xn
  y = yn
  z = zn
  i = i + 1

In [ ]:
arquivos

,iteração,x,y,z,xn,yn,zn,ex,ey,ez
0,0.0,0.000000,0.000000,0.000000,4.000000,-3.333333,0.500000,100.000000,100.000000,100.000000
1,1.0,4.000000,-3.333333,0.500000,5.416667,-3.638889,-0.208333,100.000000,100.000000,100.000000
2,2.0,5.416667,-3.638889,-0.208333,5.923611,-4.043981,-0.461806,0.093590,0.111323,1.216667
3,3.0,5.923611,-4.043981,-0.461806,6.252894,-4.238233,-0.626447,0.055588,0.048035,0.356516
4,4.0,6.252894,-4.238233,-0.626447,6.432340,-4.352929,-0.716170,0.028698,0.027062,0.143226
5,5.0,6.432340,-4.352929,-0.716170,6.534549,-4.416906,-0.767275,0.015890,0.014698,0.071358
6,6.0,6.534549,-4.416906,-0.767275,6.592091,-4.453122,-0.796045,0.008806,0.008199,0.037497
7,7.0,6.592091,-4.453122,-0.796045,6.624584,-4.473543,-0.812292,0.004929,0.004586,0.020409
8,8.0,6.624584,-4.473543,-0.812292,6.642917,-4.485070,-0.821459,0.002768,0.002577,0.011285
9,9.0,6.642917,-4.485070,-0.821459,6.653264,-4.491574,-0.826632,0.001558,0.001450,0.006298

In [ ]:
# Método de Gauss

In [ ]:
# 3x + 2y = 8
# x + 3y + z = 10
# x + 3y + 7z = 9

x = 0
y = 0
z = 0
i = 0
N = 10
errox = 100
erroy = 100
erroz = 100
erro_min = 1

while i < N:
  xn = (8 - 2*y)/3
  yn = (10 - xn - z)/3
  zn = (9 - xn - 3*yn)/7
  if i > 1:
    errox = er(xn, x)
    erroy = er(yn, y)
    erroz = er(zn, z)
  dados = [i, x, y, z, xn, yn, zn, errox, erroy, erroz]
  arquivos.loc[i] = dados
  x = xn
  y = yn
  z = zn
  i = i + 1

In [ ]:
arquivos.to_excel('pontes_aula_bonita.xlsx')